@model PatrickWare.Models.Services

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Services</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BackgroundImage" class="control-label"></label>
                <input asp-for="BackgroundImage" class="form-control" />
                <span asp-validation-for="BackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesTitle" class="control-label"></label>
                <input asp-for="ServicesTitle" class="form-control" />
                <span asp-validation-for="ServicesTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesDescription" class="control-label"></label>
                <input asp-for="ServicesDescription" class="form-control" />
                <span asp-validation-for="ServicesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon1" class="control-label"></label>
                <input asp-for="Icon1" class="form-control" />
                <span asp-validation-for="Icon1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon2" class="control-label"></label>
                <input asp-for="Icon2" class="form-control" />
                <span asp-validation-for="Icon2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon3" class="control-label"></label>
                <input asp-for="Icon3" class="form-control" />
                <span asp-validation-for="Icon3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
