@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PatrickWare.Models.About>
<style>
    .text-paragraph {
        text-align: left;
        white-space: pre-line; /* Preserve spaces and line breaks */
       
    }

        .text-paragraph img {
            float: left;
/*             margin-right: 15px; /* Adjust margin as needed */ */
        }

    .pageData {
        text-align: left;
            white-space: pre-line; /* Preserve spaces and line breaks */
        padding: 20px;
    }
</style>

@foreach (var item in Model)
{
    <div class="container">
 
        <div class="pageData"></div>
        <div class="row">
            @if (item.Headings != null)
            {
                <br />
                <center>
                    <h1>@item.Headings</h1>
                </center>
            }

            @if (item.Description != null)
            {
                <div class="col-md-6" style="padding-inline-start: 20px">
                    <center>
                        <br />


                        @if (item.roundedBorder == true)
                        {


                            @if (item.ImageWidth <= item.ImageHeight)
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid mx-auto d-block" style="width: 400px; height: 450px; object-fit: cover; border-radius: 5px;" />

                            }

                            else if (item.ImageWidth >= item.ImageHeight)
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid rounded-circle mx-auto d-block" style="width: 600px; height: 800px;" />
                            }
                            else if (item.ImageWidth == item.ImageHeight) // Square image
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid rounded-circle mx-auto d-block" style="width: 700px; height: 700px;" />
                            }
                        }



                        @if (item.roundedBorder == false)
                        {


                            @if (item.ImageWidth <= item.ImageHeight)
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid rounded  mx-auto d-block" style="width: 400px; height: 400px;" />
                            }
                            else if (item.ImageWidth >= item.ImageHeight)
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid rounded  mx-auto d-block" style="width: 600px; height: 350px;" />
                            }
                            else if (item.ImageWidth == item.ImageHeight) // Square image
                            {
                                <img src="/ProjectImages/@item.ImageFileName" alt="Missing Image" class="img-fluid rounded  mx-auto d-block" style="width: 500px; height: 500px;" />
                            }
                        }





                    </center>
                </div>
            }

            @if (item.ImageFileName != null)
            {
                <div class="col-lg-5" @* style="padding-inline-start: 10px "*@>
                    <br/>
                    <center>
                        <p class="text-paragraph" style="max-width: @item.ImageWidth > item.ImageHeight ? '100%' : 'initial';">@item.Description </p>
                        <br />
                    </center>
                </div>
            }

            @if (item.ImageFileName == null)
            {
                <div>
                    <center>
                        <br />
                        <p class="text-paragraph">@item.Description</p>
                        <br />
                    </center>
                </div>
            }
        </div>
    </div>
}
