@model PatrickWare.Models.PreviousExperience

@{
    ViewData["Title"] = "Details";
}


<div>
   <Center>
    <h4>
        @Html.DisplayFor(model => model.ProjectTitle)
        </h4>

        <img src="/ProjectImages/@Model.ProjectImageFileName" alt="Project Image" class="img-fluid">



        <p> @Model.ProjectDescription</p>
  </Center>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary buttons-100"  asp-route-id="@Model?.ProjectID">Edit</a> |
    <a asp-action="Index" class="btn btn-primary buttons-100">Back to List</a>




</div>
