@model IEnumerable<PatrickWare.Models.PreviousExperience>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary buttons-100" >Create New</a>

</p>
<div class="row">
@foreach (var item in Model)
{
 
        <div class="col-md-4">
            <div class="card mb-4">
                @if (item.ImageWidth > item.ImageHeight)
                {
                    <img src="/ProjectImages/@item.ProjectImageFileName" class="card-img-top" alt="Product Image" style="width:100%">
                }
                else
                {
                    <img src="/ProjectImages/@item.ProjectImageFileName" class="card-img-top" alt="Product Image" style="width:100%; max-height:500px;">
                    <!-- Set max-height to your desired value for portrait images -->
                }

                <div class="card-body">
                    <h5 class="card-title">@item.ProjectTitle</h5>
                    <p class="card-text">@item.ShortProjectDescription</p>
                    <a href="@Url.Action("Details", new { id = item.ProjectID })" class="btn btn-primary buttons-100" style="width:100%">Learn More</a>
                </div>
            </div>
        </div>
    
}
</div>